@using Hsf.ApplicationProcess.August2020.Blazor.I18nText
@using Hsf.ApplicationProcess.August2020.Blazor.Validators
@using FluentValidation
@using Hsf.ApplicationProcess.August2020.Domain.Validators
@inherits LayoutComponentBase
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject ApplicantInsertModelValidator Val

<link rel="stylesheet" href="css/header.css" />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">

<div class="sidebar">
    <NavMenu></NavMenu>
</div>

<div class="main" style="min-width: 500px">
    <div class="header">
        <h1>@Translator.app_main_header</h1>
        <h5>Henryk Wiśniewski</h5>
    </div>
    <div class="mat-elevation-z3 main-container">
        <div class="content px-4">
            <CascadingValue Value="Translator">
                @Body
            </CascadingValue>
        </div>
    </div>
</div>

@code
{
    public local Translator { get; set; } = new local();

    protected override async Task OnInitializedAsync()
    {
        Translator = await I18nText.GetTextTableAsync<local>(this);
        InjectEmailValidationLocalized();
    }

    // Cannot inject localization on startup - workaround
    private void InjectEmailValidationLocalized()
    {
        Val.RuleFor(cp => cp.emailAddress)
            .SetValidator(new EmailValidator())
            .WithMessage(Translator.field_err_email);
    }

}