@inherits LayoutComponentBase
    <link rel="stylesheet" href="css/header.css" />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div style="margin-top: 20px">
        <h1>HSF Applicant demo app</h1>
    </div>
    <div class="mat-elevation-z3 main-container">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>