* {
    margin: 0;
    padding: 0;
}

#err-container {
    font-size: 12pt;
    color: red;
    display: block;
    height: 30px;
}

.main-container {
    padding: 45px;
    margin: 50px;
    position: center;
}

.min-field-size {
    min-width: 200px;
    max-width: 200px;
}