.header {
    background-color: #0097a7;
    min-height: 120px;
    padding-left: 15px;
    vertical-align: central;
}

    .header h1 {
        display: block;
        margin: 0;
        min-height: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        color: white;
        text-shadow: 1px 1px 2px #06706e;
        font-family: 'PT Sans', sans-serif;
    }

    .header h5 {
        display: block;
        margin-top: -40px;
        padding-bottom: 10px;
        color: white;
        font-family: 'PT Sans', sans-serif;
        position: relative;
    }