@page "/counter"
@inject ApplicantApiService Api

@using System.Threading
@using System.Diagnostics
@using System.Net.Http.Headers
@using System.Text.Json
@using Hsf.ApplicationProcess.August2020.Blazor.ApiServices
@using Hsf.ApplicationProcess.August2020.Domain.Models

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>applicant: @applicant?.FamilyName</p>
<p>Status</p>
<ul>
    @if (errors != null)
    {
        @foreach (var entry in errors?.ResponseCodes)
        {
            foreach (var msg in entry.Value)
            {
                <li>@entry.Key - @msg</li>
            }
        }
    }
</ul>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private Applicant applicant;

    private PostInfo errors;
    

    private async Task IncrementCount()
    {
        var apl = new ApplicantInsertDTO
        {
            familyName = "Kowalski",
            address = "Sarmacka 16/2",
            age = 30,
            countryOfOrigin = "Poland"
        };

        errors = await Api.InsertNewApplicant(apl, CancellationToken.None);

        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        applicant = await Api.GetApplicantById(3, CancellationToken.None);
    }
}