@page "/getbyid"
@using Hsf.ApplicationProcess.August2020.Blazor.Models
@using Hsf.ApplicationProcess.August2020.Blazor.Validators
@inject ApplicantInsertModelValidator Val
<link rel="stylesheet" href="css/addApplicant.css" />
<h3>@Translator.header_view_applicants</h3>
<MatDivider></MatDivider>

<ApplicantInsertModelValidationForm Applicant="Applicant" Validator="Val"></ApplicantInsertModelValidationForm>



@code {
    [CascadingParameter]
    I18nText.local Translator { get; set; }

    [Parameter]
    public ApplicantInsertModel Applicant { get; set; } = new ApplicantInsertModel();

}
